nose
flake8
flake8-import-order
termcolor
xmltodict
gitpython
rosinstall_generator
rosdistro
requests
rosdep
pep8
docker
pyyaml
pygithub
catkin_pkg
rospkg
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
